<!DOCTYPE html>
<html>
<head>
    <title>Asistencias</title>
    <link rel="stylesheet" type="text/css" href="/css/asistencias.css">
    <style>
        .options-container {
            display: none;
        }

        .options-container.show {
            display: block;
        }

        .options-container table {
            width: 100%;
            border-collapse: collapse;
        }

        .options-container th, .options-container td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }

        .options-container th {
            background-color: #f2f2f2;
        }

        .options-container a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
        }

        .options-container a:hover {
            color: #666;
        }
    </style>
    <script>
        function toggleOptions() {
            var optionsContainer = document.getElementById("options-container");
            optionsContainer.classList.toggle("show");
        }
    </script>
</head>
<body>
    <h1>Listado de asistencias</h1>

    <button onclick="toggleOptions()">Mostrar asistencia</button>

    <div id="options-container" class="options-container">
        <table>
            <tr>
                <th colspan="3">Mostrar asistencia por:</th>
            </tr>
            <tr>
                <td><a href="/asistencias/diaria">Diaria</a></td>
                <td><a href="/asistencias/semanal">Semanal</a></td>
                <td><a href="/asistencias/mensual">Mensual</a></td>
            </tr>
        </table>
    </div>

    <ul>
        <% arrayAsistencia.forEach(function(asistencia) { %>
            <li><%= asistencia.idUser %> - <%= asistencia.fecha %></li>
        <% }); %>
    </ul>

    <!-- Botón de Volver Atrás -->
    <a href="javascript:history.back()" class="go-back-button">Volver Atrás</a>
</body>
</html>
