<!DOCTYPE html>
<html>
<head>
    <title>Grupo de Asistencia Aleatorio</title>
</head>
<body>
    <% if (arrayAttendance.length > 0) { %>
        <h1>Grupo de Asistencia Aleatorio</h1>
        <ul>
            <% arrayAttendance.forEach(function(attendance) { %>
                <li><%= attendance.idUser %> - <%= attendance.date %></li>
            <% }); %>
        </ul>
    <% } else { %>
        <h1>No hay asistencias disponibles</h1>
    <% } %>

</body>
</html>
