<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" type="text/css" href="/css/lista-usuarios.css">
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>Rut</th>
                <th>Contraseña</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(function(usuario) { %>
            <tr>
                <td><%= usuario.rut %></td>
                <td><%= usuario.contrasena %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
