/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

/* Estilos para el botón de cerrar sesión */
.logout-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff3b3b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #e30000;
}

.view-attendance-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.mark-attendance-button {
    position: absolute;
    top: 61px;  /* Ajusta la posición vertical según tus necesidades */
    left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #4CAF50;  /* Puedes ajustar el color según tus necesidades */
    color: #fff;  /* Puedes ajustar el color según tus necesidades */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}


.view-attendance-button:hover {
    background-color: #45a049;
}