/* GroupScreen.css */

.group-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.group-table th,
.group-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.group-table th {
  background-color: #f2f2f2;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.centered-cell {
  text-align: center;
}

/* .go-back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.go-back-button:hover {
  background-color: #0056b3;
} */


.button-create-group {
  background-color: #28a745;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
  float: right;
  margin: 20px;
  
}

.button-create-group:hover {
  background-color: #218838;
}
.button-delete {
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
}

.button-delete:hover {
  background-color: #d50000;
}

td{
  text-align: center;
}

li {
  padding: 6px;
  border-bottom: 1px solid #ccc; /* Línea divisora horizontal */
}

/* Agregar el nuevo estilo para el botón de eliminar */
/* .button-delete-red {
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
}

.button-delete-red:hover {
  background-color: #d50000;
} */

.button-edit {
  background-color: #448AFF;
  color: #FFFFFF;
  border: 1px solid #448AFF;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.button-edit:hover {
  background-color: #2979ff;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-wrapper {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

.search-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Modificaciones para el esquema de colores */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
}

.back-button{
  background-color: #a708cb;
  margin: 20px;
  padding: 6px 12px;
}
button:hover {
  background-color: #0056b3;
}
