.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centering-container {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 100vh;
}

.inner-container {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.logout-button:hover {
  background-color: #c40000;
}

.logout-icon {
  margin-right: 5px;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.user-info {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.user-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info p {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-attendance-button {
  background-color: #007bff;
}

.view-attendance-button:hover {
  background-color: #0056b3;
}

.register-attendance-button {
  background-color: #28a745;
}

.register-attendance-button:hover {
  background-color: #218838;
}

.view-pending-attendance-button {
  background-color: #ffc107;
}

.view-rol-user {
  background-color: #761fb9;
}

.view-pending-attendance-button:hover {
  background-color: #e0a800;
}

.view-groups-button {
  background-color: #dc3545;
}

.view-groups-button:hover {
  background-color: #c82333;
}

.view-attendance-button,
.register-attendance-button,
.view-pending-attendance-button,
.view-rol-user,
.view-groups-button {
  display: block;
  width: 400px;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-attendance-button{
  width: 360px
}

