.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.centering-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inner-container {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.logout-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  background-color: #cb4545;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.logout-button:hover {
  background-color: rgb(222, 10, 10);
}

.logout-icon {
  margin-right: 5px;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.user-info {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.user-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.user-info p {
  margin-bottom: 5px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-attendance-button {
  background-color: #276a93;
}

.view-attendance-button:hover {
  background-color: #1f7eb8;
}

.register-attendance-button {
  background-color: #267739;
}

.register-attendance-button:hover {
  background-color: #20973a;
}

.view-pending-attendance-button {
  background-color: #127c81;
}


.view-pending-attendance-button:hover {
  background-color: #138e97;
}
.view-rol-user {
  background-color: #328ac1;
}
.view-rol-user:hover {
  background-color: #2a90cf;
}
.view-groups-button {
  background-color: #925d89;
}

.view-groups-button:hover {
  background-color: #b76ca9;
}

.view-attendance-button,
.register-attendance-button,
.view-pending-attendance-button,
.view-rol-user,
.view-groups-button {
  display: block;
  width: 400px;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-attendance-button{
  width: 360px
}

