body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: #f9f9f9;
}

.go-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.go-back-button:hover {
  background-color: #45a049;
}

.options-button {
  position: relative;
}

.show-options-button {
  background-color: #f9f9f9;
  color: #333;
  font-weight: bold;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-options-button:hover {
  background-color: #ddd;
}

.options-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  margin-top: 5px;
}

.options-container.show {
  display: block;
}

.options-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.options-container li {
  margin-bottom: 10px;
}

.options-container a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.options-container a:hover {
  background-color: #ddd;
}

li span {
  width: 100px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: center;
}

table th {
  background-color: #337ab7;
  color: white;
}

table th, table td {
  border: 1px solid #ccc;
}